img{
    border-radius: 50% !important;
    border: 2px solid #d1d5da;
    width:250px;
}
 label{
   color: gray;
   font-size: 14px;
 }

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .top {
     display: flex;
     padding: 20px 0;
     border-bottom: 1px solid #d1d5da;
   }
 
   .login{
       font-size: 1.5rem;
       color: gray;
   }

  .repoName {
    font-size: 14px;
    color: gray;
 
  }

  .repoNumber{
     background-color: #ededee;
     border-radius: 50%;
     padding: 1px 2px;
   }
  
  .repos{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
   }

  .repo-box{
     width: 49%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     border: 1px solid #d1d5da;
     border-radius: 5px;
   
   }
.color-gray{
  color: gray;
}
  .repo-title{
     color: #0366de;
     font-size: 15px;
     text-decoration: none;
     font-weight: bold;
   }
   
  .repo-description{
     font-size: 12px;
     color: gray;
   }
  .repo-box2{
     display: flex;
     align-items: center;
     margin-right: 15px;
   }
  .repo-span{
     margin-left: 5px;
     font-size: 14px;
     color: gray;
   }

  .repo-mark{
     width: 12px;
     height: 12px;
     border-radius: 50%;
   }

   /* Background colors of languages */
   .HTML {
    background-color:#e34c26;
  }
  .TypeScript {
    background-color:#2b7489;
  }
  .JavaScript {
    background-color:#f1e05a;
  }
  .Java {
    background-color:#b07219;
  }
  .CSS {
    background-color:#563d7c;
  }
  .Visual Basic {
    background-color:#945db7;
  }
  .Python {
    background-color:#3572A5;
  }
  .C {
    background-color:#555555;
  }
  .Lua {
    background-color:#000080;
  }
  .Shell {
    background-color:#89e051;
  }
  .PHP {
    background-color:#4F5D95;
  }