<div class="container">
    <div *ngIf = "user" class="col">
      <h1 class="mx-lg-5 mx-5">{{user.login}}</h1>
  
      <div class="row row-cols-lg-4">
          <div class="col">
              <img src="{{user.avatar_url}}" class="rounded img-fluid" alt="profile-image"><br>
  
          </div>
      </div>
      <div class="row mt-5 mx-1 row-cols-lg-3">
          <div class="col">
              <ul class="list-group">
                  <li class="list-group-item" *ngIf = "user.bio">{{user.bio}}</li>
                  <li class="list-group-item" *ngIf = "user.company">{{user.company}}</li>
              </ul>
  
          </div>
      </div>
      <p><a class="btn btn-success btn-sm mx-5 mt-3" target="_blank" href="{{user.html_url}}">View Profile on Github</a></p>
  
  </div>



        
      <div class="col-md-12 col-sm-12 col-lg-9 col-xl-9">
        <div class="top">
          <div class="box">
            <span class="repoName">Repositories</span>
            <span class="repoNumber">{{user.public_repos}}</span>
          </div>
          <div class="box">
            <span class="repoName">Followers</span>
            <span class="repoNumber">{{user.followers}}</span>
          </div>
          <div class="box">
            <span class="repoName">Following</span>
            <span class="repoNumber">{{user.following}}</span>
          </div>
        </div>


        <div class="repos">

          <div class="repo-box" *ngFor="let repo of repository">
            <div class="repo-top">
              <a [href]="repo.html_url" class="repo-title">{{repo.name}}</a>
              <p class="repo-description">{{repo.description}}</p>
            </div>
            <div class="repo-language">
              <div class="repo-box2">
                <div class="repo-mark {{repo.language}}"></div>
                <span class="repo-span">{{repo.language}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>