<div class="container-fluid">
<div class="container">
 
  <div *ngIf = "user" class=" start col-md-12 col-sm-12 col-lg-3 col-xl-3">
    <div>
      <div>
        <img src="{{user.avatar_url}}" class="rounded img-fluid" width="300px" alt="profile-image">
      </div>
       <div>
          <p class="login">{{user.login}}</p>
          <p *ngIf = "user.bio" class="bio">{{user.bio}}</p>
          <div class="box mb-3">
            <span class="repoName ">Followers</span>
            <span class="repoNumber mx-2">{{user.followers}}</span>
            <span class="repoName">Following</span>
            <span class="repoNumber mx-2">{{user.following}}</span>
          </div>
          <a target="_blank" [href]="user.html_url"><button type="button" class="btn btn-primary mx-lg-5 btn-sm">View Profile on Github</button></a>
        </div>
      </div>
  </div>



        
      <div class="col-md-12 col-11 col-sm-12 col-lg-9 col-xl-9">
        <div class="top">
          <div class="box">
            <span class="repoName">Repositories</span>
            <span class="repoNumber">{{user.public_repos}}</span>
          </div>
          
        </div>


        <div class="repos">

          <div class="repo-box" *ngFor="let repo of repository">
            <div class="repo-top">
              <a [href]="repo.html_url" class="repo-title">{{repo.name}}</a>
              <p class="repo-description">{{repo.description}}</p>
            </div>
            <div class="repo-language">
              <div class="repo-box2">
                <div class="repo-mark {{repo.language}}"></div>
                <span class="repo-span">{{repo.language}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
</div>